<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Github shortcut</title>
</head>

<body>
    <div class="container">
        <!-- <p *ngFor='let users of use r'>
            Name: {{users.name}}
        </p> -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h1>GITHUB SHORT APP</h1>
                </div>
            </div>
        </div>

        <form>
            <label for="name">Github user name</label><br>
            <input type="text" name="name" [(ngModel)]="username" (keyup)="findprofile()"> <br>
        </form>
        <div class="row">
            <div class="col-md-6">
                <div *ngIf="profile">
                    <div class="panel-default">
                        <div class="panel-heading" style="position:relative; left: 200px;">
                            <br>
                            <p> This is {{anotherprofile.login}} </p>
                            <img src="{{anotherprofile.avatar_url}}" alt="">
                        </div>
                        <div class="col-md-6">
                            <span>{{anotherprofile.location}}</span>

                            <p> Biography :{{anotherprofile.bio}}</p>
                            <p>Date created {{anotherprofile.created_at|date}}</p>
                            <p>Public repositories: {{anotherprofile.public_repos}}</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>repositories</h3>
                                <p *ngFor="let repo of repositories">{{repo.name}}:
                                    <button style="background-color: black;">
                                        <a href="{{anotherprofile.html_url}}" style="color:white; padding: 10px; margin: 10px;">view
                                            this project on Github on Github</a>
                                    </button>
                                </p>
                                <button style="background-color: black;">
                                    <a href="{{anotherprofile.html_url}}" style="color:white; padding: 10px; margin: 10px;">view
                                        profile on Github</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>