<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Github shortcut</title>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <!-- <p *ngFor='let users of use r'>
            Name: {{users.name}}
        </p> -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h1>GITHUB SHORT APP</h1>
                </div>
            </div>
        </div>

        <form>
            <label for="name">Github user name</label><br>
            <input type="text" name="name" [(ngModel)]="username" (keyup)="findprofile()"> <br>
        </form>
        <div class="row">
            <div class="col-md-6">
                <p>Log in Name: {{anotherprofile.login}} </p>
                <img src="{{anotherprofile.avatar_url}}" alt="">
            </div>
            <div class="col-md-6" style="position:relative; top: 50px;">
                <p> Name              :{{anotherprofile.name}}</p>
                <p> Biography         :{{anotherprofile.bio}}</p>
                <p>Location           : {{anotherprofile.location}}</p>
                <p>Date created       : {{anotherprofile.created_at|date}}</p>
                <p>Public repositories: {{anotherprofile.public_repos}}</p>
                <button style="background-color: lightgrey;">
                        <a href="{{anotherprofile.html_url}}" style="color:black; padding: 10px; margin: 10px;">view
                            profile on Github</a>
                    </button>
            </div>
            <div class="row">
                <div class="col-md-12" style="position:relative; top: 30px;">
                    <h3 style="font-size: 35px; text-align:center;">List of Repositories</h3>
                    <hr style="width:5px; text-align:center;" style="text-align:center;">
                    <p *ngFor="let repo of repositories">{{repo.name}}: <br>
                        <button style="background-color: lightgrey;text-align:center;">
                            <a href="{{anotherprofile.html_url}}" style="color: black; padding: 10px; margin: 10px;">view
                                this project on Github on Github</a>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>