<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
</head>

<body>
  <div class="container-fluid">
    <img src="https://thumbs.dreamstime.com/b/winking-emoticon-19925908.jpg" width="20%" height="100px">
    <p id="first">A warm Welcome to you all <br> on our websiteI hope you will <br> enjoy with our services</p>
  </div>
  <div class="about">
    <h3 style="text-align:center;font-style:italic; font-size: 40px; color: darkred;">ABOUT US</h3>
    <hr style="width:10%; text-align:center;">
    <p id="second"> This is a website that helps users who want some <br>
      information regarging Github to get them without going <br> going through Github app which is challenging.</p>
    <p id="second">So our website is a shortCut to Github</p>
  </div>
</body>

</html>